<% const active = (p) => p == path ? 'active' : ''; %>

<div class="col-lg-3">
    <div class="list-group mb-3">
        <a href="/docs/intro" class="list-group-item bg-light text-dark list-group-item-action <%- active('intro') %>">
            Introduction
        </a>
        <a href="/docs/create" class="list-group-item bg-light text-dark list-group-item-action <%- active('create') %>">Creating</a>
        <a href="/docs/read" class="list-group-item bg-light text-dark list-group-item-action <%- active('read') %>">Reading</a>
        <a href="/docs/update" class="list-group-item bg-light text-dark list-group-item-action <%- active('update') %>">Updating</a>
        <a href="/docs/delete" class="list-group-item bg-light text-dark list-group-item-action <%- active('delete') %>">Deleting</a>
    </div>
    <h5 class="mb-3 text-dark">Stats API</h5>
    <div class="list-group mb-3">
        <a href="#" class="list-group-item bg-light text-dark list-group-item-action">Enabling</a>
        <a href="#" class="list-group-item bg-light text-dark list-group-item-action">Reading</a>
    </div>
</div>