<!DOCTYPE html>
<html lang="en-GB">

<head>
    <%- include('../elements/imports', { title: null, theme, user }); %>
    <title>ZE.WTF - <%= user.username %> - Settings</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body class="bg-medium">
    <%- include('../elements/nav', { path: 'home' }) %>

    <div class="container flex-grow">
        <div class="h-100 pt-3 pb-3">
            <div class="row">
                <%- include('../elements/sidebar', { path: 'adminstats' }) %>

                <div class="col-lg-9">
                    <div class="card align-self-center bg-light mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-dark mb-3">Site statistics</h5>
                            
                            <canvas id="myChart" class="mb-3 card bg-light"></canvas>
                            <canvas id="myChart2" class="mb-3 card bg-light"></canvas>
                            <canvas id="myChart3" class="card bg-light"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['August', 'September', 'October', 'November', 'December', 'January', 'February'],
                datasets: [{
                    backgroundColor: '#3679E2',
                    borderColor: '#3679E2',
                    data: [1, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                        }
                    }
                },
                title: {
                    display: true,
                    fontColor: '#aaa',
                    text: 'Links created'
                } ,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            fontColor: '#aaa'
                        },
                    }],
                xAxes: [{
                        ticks: {
                            fontColor: '#aaa'
                        },
                    }]
                } 
            }
        });

        var ctx = document.getElementById('myChart2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['August', 'September', 'October', 'November', 'December', 'January', 'February'],
                datasets: [{
                    backgroundColor: '#3679E2',
                    borderColor: '#3679E2',
                    data: [12, 30, 3, 7, 11, 3, 2]
                }]
            },

            // Configuration options go here
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                        }
                    }
                },
                title: {
                    display: true,
                    fontColor: '#aaa',
                    text: 'Users registered'
                } ,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            fontColor: '#aaa'
                        },
                    }],
                xAxes: [{
                        ticks: {
                            fontColor: '#aaa'
                        },
                    }]
                } 
            }
        });
        
        var ctx = document.getElementById('myChart3').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['USA', 'United Kingdom', 'Japan', 'Australia', 'Russia', 'South Africa', 'Canada'],
                datasets: [{
                    backgroundColor: '#3679E2',
                    borderColor: '#3679E2',
                    data: [13, 5, 8, 4, 14, 11, 6]
                }]
            },

            // Configuration options go here
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                        }
                    }
                },
                title: {
                    display: true,
                    fontColor: '#aaa',
                    text: 'Top countries'
                } ,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            fontColor: '#aaa'
                        },
                    }],
                xAxes: [{
                        ticks: {
                            fontColor: '#aaa'
                        },
                    }]
                } 
            }
        });
    </script>

    <%- include('../elements/footer', { theme }) %>

      <!-- add link copying by click later -->
</body>

</html>
