<!DOCTYPE html>
<html lang="en-GB">

<head>
    <%- include('../elements/imports', { title: null, theme, user }); %>
    <title>ZE.WTF - <%= user.username %> - Settings</title>
</head>

<body class="bg-medium">
    <%- include('../elements/nav', { path: 'home' }) %>

    <div class="container flex-grow">
        <div class="h-100 pt-3 pb-3">
            <div class="row">
                <%- include('../elements/sidebar', { path: 'adminusers' }) %>

                <div class="col-lg-9">
                    <div class="card align-self-center bg-light">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5 class="card-title text-dark d-inline-flex mb-0">Recently registered users</h5>
                                <form class="form-inline">
                                    <label class="my-1 mr-2 text-dark">Show</label>
                                    <select class="custom-select m-0 text-dark border-light bg-light" id="inlineFormCustomSelectPref">
                                      <option value="5" selected>5</option>
                                      <option value="10">10</option>
                                      <option value="20">20</option>
                                      <option value="30">30</option>
                                    </select>
                                </form>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-light table-bordered">
                                    <thead>
                                      <tr>
                                        <th class="pointer">Username</th>
                                        <th class="pointer">Date</th>
                                        <th class="pointer">Verified</th>
                                        <th width="125px">&nbsp;</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>@john</td>
                                        <td>9/6/2020</td>
                                        <td><span class="badge badge-success">Verified</span></td>
                                        <td>
                                            <a class="btn btn-success" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>@jenny</td>
                                        <td>9/6/2020</td>
                                        <td><span class="badge badge-warning">Not verified</span></td>
                                        <td>
                                            <a class="btn btn-success" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>@john</td>
                                        <td>9/6/2020</td>
                                        <td><span class="badge badge-success">Verified</span></td>
                                        <td>
                                            <a class="btn btn-success" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>@jenny</td>
                                        <td>9/6/2020</td>
                                        <td><span class="badge badge-warning">Not verified</span></td>
                                        <td>
                                            <a class="btn btn-success" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>@john</td>
                                        <td>9/6/2020</td>
                                        <td><span class="badge badge-success">Verified</span></td>
                                        <td>
                                            <a class="btn btn-success" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>

                            <div class="btn-toolbar d-flex justify-content-center">
                                <div class="btn-group" role="group">
                                  <button type="button" class="btn btn-light">1</button>
                                  <button type="button" class="btn btn-light">2</button>
                                  <button type="button" class="btn btn-light">3</button>
                                  <button type="button" class="btn btn-light">4</button>
                                  <button type="button" class="btn btn-light">Next</button>
                                  <button type="button" class="btn btn-light">Last</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../elements/footer', { theme }) %>

      <!-- add link copying by click later -->
</body>

</html>
