<!DOCTYPE html>
<html lang="en-GB">

<head>
    <%- include('../elements/imports', { title: null, theme, user }); %>
    <title>ZE.WTF - <%= user.username %> - Settings</title>
</head>

<body class="bg-medium">
    <%- include('../elements/nav', { path: 'home' }) %>

    <div class="container flex-grow">
        <div class="h-100 pt-3 pb-3">
            <div class="row">
                <%- include('../elements/sidebar', { path: 'api' }) %>

                <div class="col-lg-9">
                    <div class="card align-self-center bg-light mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-dark mb-3">API access</h5>

                            <div class="d-flex mb-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#api_modal">
                                    Create a new API key
                                </button>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-light table-bordered">
                                    <thead>
                                      <tr>
                                        <th class="pointer">Name</th>
                                        <th class="pointer">API key</th>
                                        <th class="pointer">Permissions</th>
                                        <th class="pointer">Created</th>
                                        <th width="125px">&nbsp;</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>An API key alright</td>
                                        <td><span class="pointer api_overflow copy_append_js" data-target="self" data-toggle="tooltip" data-placement="top" title="Click to copy">ASKLDLAJLCJP2139U10JD09CH0CAHSND09AS7</span></td>
                                        <td>
                                            <span class="badge badge-info">Read</span>
                                            <span class="badge badge-info">Write</span>
                                        </td>
                                        <td>9/6/2020</td>
                                        <td>
                                            <span data-toggle="modal" data-target="#api_modal_edit">
                                                <a class="btn btn-success" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            </span>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <span class="text-dark">Not sure what to do with the key? Check out the API <a class="text-primary" href="/docs/intro">docs</a>.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="api_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-light">
            <div class="modal-header border-light">
              <h5 class="modal-title text-dark">Create a new API key</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-dark">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="api_key_name" class="text-dark">Key name</label>
                      <input type="text" class="form-control text-dark border-light bg-light" id="api_key_name" aria-describedby="emailHelp" placeholder="Enter a name for your API key">
                    </div>
                    <div class="form-group">
                      <label for="api_key_name" class="text-dark">Key permissions</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="api_read">
                        <label class="form-check-label text-dark" for="api_read">
                            Read
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="api_write">
                        <label class="form-check-label text-dark" for="api_write">
                            Write
                        </label>
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-light">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" id="api_modal_edit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-light">
            <div class="modal-header border-light">
              <h5 class="modal-title text-dark">Edit API key</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-dark">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="api_key_name_1" class="text-dark">Key name</label>
                      <input type="text" class="form-control text-dark border-light bg-light" id="api_key_name_1" aria-describedby="emailHelp" placeholder="Enter a name for your API key">
                    </div>
                    <div class="form-group">
                      <label for="api_key_name" class="text-dark">Key permissions</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="api_read_1">
                        <label class="form-check-label text-dark" for="api_read_1">
                            Read
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="api_write_1">
                        <label class="form-check-label text-dark" for="api_write_1">
                            Write
                        </label>
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-light">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
    </div>

    <%- include('../elements/footer', { theme }) %>

      <!-- add link copying by click later -->
</body>

</html>
