<!DOCTYPE html>
<html lang="en-GB">

<head>
    <%- include('../elements/imports', { title: null, theme, user }); %>
    <title>ZE.WTF - <%= user.username %> - Settings</title>
</head>

<body class="bg-medium">
    <%- include('../elements/nav', { path: 'home' }) %>

    <div class="container flex-grow">
        <div class="h-100 pt-3 pb-3">
            <div class="row">
                <%- include('../elements/sidebar', { path: 'settings' }) %>

                <div class="col-lg-9">
                    <div class="alert alert-danger mb-3" role="alert">
                        Since you changed your E-mail address we have resent the confirmation letter.
                    </div>
                    <div class="card align-self-center bg-light mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-dark mb-3">Profile settings</h5>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="settings_username" class="text-dark">Username</label>
                                            <input type="text" class="form-control text-dark border-light bg-light" value="your username" id="settings_username" >
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="settings_email" class="text-dark">Email address</label>

                                            <div class="input-group mb-3">
                                                <input type="email" class="form-control text-dark border-light bg-light" value="your email" id="settings_email">
                                                <div class="input-group-append">
                                                  <span class="input-group-text text-success border-light bg-light" data-toggle="tooltip" data-placement="top" title="E-mail verified"><i class="fas fa-check"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="d-inline-flex align-items-center justify-content-center">
                                        <button type="submit" class="btn btn-warning mr-2">Revert</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card align-self-center bg-light">
                        <div class="card-body">
                            <h5 class="card-title text-dark mb-3">Security settings</h5>
                            <form autocomplete="off">
                                <!-- don't actually fill the inputs with the passwords, this is only to reset the password, that way if someone forgets to log out their pass wont be stolen-->
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="settings_password" class="text-dark">Password</label>
                                            <div class="input-group">
                                                <input name="settings_password" id="settings_password" type="password"
                                                    class="form-control text-dark border-light bg-light" placeholder="Password">
                                                <div class="input-group-append">
                                                    <span
                                                        class="input-group-text show_pass_js pointer text-dark border-light bg-light"><i
                                                            class="far fa-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="settings_password_confirm" class="text-dark">Confirm password</label>
                                            <div class="input-group">
                                                <input name="settings_password_confirm" id="settings_password_confirm" type="password"
                                                    class="form-control text-dark border-light bg-light" placeholder="Password">
                                                <div class="input-group-append">
                                                    <span
                                                        class="input-group-text show_pass_js pointer text-dark border-light bg-light"><i
                                                            class="far fa-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="d-inline-flex align-items-center justify-content-center">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../elements/footer', { theme }) %>

      <!-- add link copying by click later -->
</body>

</html>
